 @media only screen and (min-width : 601px) and (max-width : 950px){
    @font-face {
        font-family: Trans-light;
        src: url(./fonts/Transcend\ Light.otf);
    }
    *{
        font-family: "Trans-light";
    }

    .home-container{
        width: 100%;
        height: 600px;
    }

    nav{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        grid-template-areas: "logos"
        "options";
    }
    
    #check{
        display: none;
    }
    
    .active{
        color: #ffda43;
    }
    
    #logo{
        display: block;
        width: 100%;
        line-height: 30px;
        padding-top: 5px;
        grid-area: logos;
        text-align: center;
    }
    .portfolio-box{
        display: grid;
        grid-template-columns:1fr;
    }
    
    nav h2{
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 5px;
    }
    
    #option{
        grid-area: options;
    }
    
    nav ul{
        text-align: center;
        line-height: 20px;
    }
    nav ul li{
        display: inline-block;
    }

    nav ul li a{
        margin-right: 10px;
        font-size: .8rem;
    }

    .home-section h1{
        font-size: 55px;
        letter-spacing: 5px;
    }
    
    .home-section h6{
        font-size: .9rem;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .home-section button{
        width: 120px;
        height: 40px;
        margin: 10px 0px;
        font-size: 0.65rem;
        letter-spacing: 2px;
        padding: 0;
    }


    
    .blog-slider{
        height: 700px;
        overflow: auto;
    }


    .book-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .book-box-1{
        width: 100%;
        height: 100%;
    }
    .book-box-2{
        width: 100%;
        height: 100%;
    }
    .book-box-2 img{
        min-height: 100%;
        height: 300px;
        width: 100%;
    }
    .book-container .book-box{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .book-container .book-box-1{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .book-box-1 h2{
        font-size: 2rem;
    }
    
    .book-box-1 p{
        font-size: .9rem;
        text-align: justify;
    }
    
    .book-box-1 span{
        font-size: 3rem;
        margin-top: 10px;
    }
    
    .book-box-1 button{
        width: 90px;
        height: 30px;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    
    .blog-details hr {
        margin-top:40px;
    }


    
    .about-box-1 h6{
        margin-top: 40px;
        line-height: 30px;
    }
    .portfolio-box{
        display: grid;
        grid-template-columns:  1fr;
    }
    .about-conatiner{
        display: grid;
        grid-template-columns: 1fr;
    }  



    .contact-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       }
    
    
    .input-container{
        width: 100%;
    }
    .contact-box{
        height: 400px;
        max-height: 100%
    }
    .contact-box-2{
        height: 530px;
    }
    
    .contact-box h2{
        font-size: 1.6rem;
    }
    
    .contact-box h6{
        font-size: .7rem;
    }
    
    form label{
        font-size: .9rem;
    }
    
    form input{
        height: 35px;
    }
    form textarea{
        height: 90px;
    }
    form button{
        width: 110px;
        margin-top: 8px;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    .contact-icons i{
        font-size: 1.8rem;
    }
    .footer{
        width: 100%;
        margin-top:10px;
    }
    .footer p{
        font-size: .6rem;
    }
} 